html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
ul,
li,
ol,
dd,
dt,
dl,
img,
input,
button,
a {
  margin: 0;
  padding: 0;
  color: #2b2b2b;
  box-sizing: border-box;
  font-size: 14px;
}

li {
  list-style: none;
}
table {
  border-collapse: collapse;
}

input,
button {
  outline: none;
  border-radius: 5px;
}

body {
  background: #fff;
}

.van-button {
  & span {
    color: #fff;
  }
}

#head {
  position: fixed;
  padding: 10px 0;
  width: 100%;
  z-index: 20;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
  transition: background-color 0.3s ease-in-out;
}

#main {
  position: static;
  padding: 0 60px 30px;
}

#sidebar {
  position: fixed;
  left: 0;
  z-index: 10;
  top: 60px;
  width: 200px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #ddd;
}

#content {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  padding: 80px 0 40px;
  padding-left: 200px;
}

#admin {
  position: relative;
}

@media screen and (max-width: 900px) {
  #head {
    display: none;
  }

  #main {
    padding: 0 10px;
  }

  #content {
    padding-left: 0;
  }

  #sidebar {
    position: fixed;
    background: #f9f9f9;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.4s cubic-bezier(0.4, 0, 0, 1);
    -webkit-transform: translate(-280px, 0);
    transform: translate(-280px, 0);
  }
}
